body {
  margin: 0;
  padding: 0;
}

body:global(.dark-mode) {
  background-color: #232323;
  color: #dfdfdf;
}

a {
  color: blue;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
