.login-container {
  margin: 0;
  width: 50%;

  &.dark-mode {
    background-color: #343a40;

    input {
      background-color: #000000;
      border: #bd93f9;
      color: #ffffff;
    }
  }

  @include phone {
    width: 100%;
  }

  @include desktop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-header {
    text-align: center;
    margin: 0 0 20px 20px;

    @include phone {
      text-align: left;
    }
  }

  .login-form {
    padding: 20px;
  }
}
