.chat {
  display: flex;
  font-size: 16px;

  .username {
    font-weight: bold;
  }

  .timestamp {
    font-style: italic;
    margin-right: 5px;
  }

  .chat-message {
    flex: 1;
    margin-left: 10px;
    word-break: break-all;
  }

  .admin-message {
    font-style: italic;
  }
}
