.chatroom {
  .chats {
    height: 90vh;
    overflow-y: scroll;
    padding-top: 10px;
    margin-bottom: 0;

    @include mobile {
      height: 80vh;
      margin-top: 10px;
    }

    .no-chats {
      font-style: italic;
    }

    .chat-end {
      float: left;
      clear: both;
    }
  }

  .users-in-chat-wrapper {
    padding: 10px;
    width: 130px;

    @include mobile {
      display: none;
    }

    .users-in-chat-label {
      margin-bottom: 10px;
    }

    .user-in-chat {
      font-style: italic;
    }
  }
}
