.chatroom {
  .chats {
    border: 1px solid #000000;
    bottom: 92px;
    left: 130px;
    overflow-y: scroll;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;

    @include mobile {
      left: 0;
    }

    .no-chats {
      font-style: italic;
    }
  }

  .chatroom-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    .logout-link {
      display: block;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-top: 10px;
    }
  }

  .users-in-chat-wrapper {
    padding: 10px;
    width: 130px;

    @include mobile {
      display: none;
    }

    .users-in-chat-label {
      margin-bottom: 10px;
    }

    .user-in-chat {
      font-style: italic;
    }
  }
}
