.chat {
  display: flex;
  font-size: 16px;

  .timestamp {
    font-style: italic;
    width: 45px;

    @include mobile {
      margin-right: 5px;
    }
  }

  .username {
    font-weight: bold;
    width: 60px;
  }

  .chat-message {
    flex: 1;
  }

  .admin-message {
    font-style: italic;
  }
}
