.chatroom {
  .chats {
    height: 90vh;
    overflow-y: scroll;
    padding-top: 10px;
    margin-bottom: 0;

    @include tablet {
      height: 80vh;
      margin-top: 10px;
    }

    .no-chats {
      font-style: italic;
    }

    .chat-end {
      float: left;
      clear: both;
    }
  }

  .users-in-chat-label {
    margin: 10px 0;
  }

  .user-in-chat {
    font-style: italic;
  }
}
