.chatroom {
  padding: 0;

  .chats {
    background-color: #add8e6;
    height: calc(100vh - 75px - 56px);
    overflow-y: scroll;
    padding: 0;
    padding: 10px 10px 0 10px;

    &.dark-mode {
      background-color: #343a67;
    }

    @include phone {
      height: calc(100vh - 105px - 56px);
    }

    .no-chats {
      font-style: italic;
    }

    .chat-end {
      visibility: hidden;
    }
  }
}
