.chat-input-container {
  border-top: 1px solid black;
  border-radius: 5px;
  height: 100%;
  padding-top: 10px;

  @include mobile {
    padding-top: 0;
  }

  .username-display {
    font-size: 16px;
    font-weight: bold;
  }

  .send-button {
    @include mobile {
      margin-top: 10px;
    }
  }
}
