.chat-input-container {
  align-items: center;
  border-top: 1px solid $black;
  border-radius: 5px;
  display: flex;
  padding-top: 10px;
  margin: 0;

  @include phone {
    padding: 0 10px;
    display: block;
  }

  .chat-input-group {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 0;

    @include phone {
      margin-top: 10px;
    }

    .username-display {
      margin: 5px;
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      &::after {
        content: ':';
      }
    }

    input {
      flex: 1;
      margin: 5px;

      @include phone {
        margin: 0;
        display: inline-block;
      }
    }
  }

  &.dark-mode input {
    background-color: $black;
    border: $very-soft-violet;
    color: $white;
  }

  .send-button {
    margin: 5px;
    width: 130px;

    @include phone {
      margin: 10px 0 0 0;
      width: 100%;
    }
  }
}
