.chat-input-container {
  height: 45px;
  border-top: 1px solid black;
  padding-top: 10px;

  @include tablet {
  }

  .username-display {
    font-size: 16px;
    font-weight: bold;
  }

  .logout-link {
    font-weight: normal;
    font-size: 12px;
    margin-left: 15px;
  }

  .send-button {
    @include mobile {
      margin-top: 20px;
    }
  }
}
